<div class="box"  style="height: 100%; width: 100%;">
    <div class="bg">
        <div class="container" style="margin-top: 50px;">
            <br>
            <div class="row content">
                <div class="col col-sm-2" >
                </div>
                <div class="col-md-8 text-left text-white bg-dark mb-3">
                    <h1>Welcome to the collection of the top 100 Classical books</h1>
                    <br>
                    <p>In this website you are able to search the books, add reviews if logged-in and to view in more
                        detail
                        each book!</p>
                    <p>We hope you find this quite useful</p>
                    <p>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        </p>
                </div>
                <div class="col col-sm-2">
                </div>
            </div>
        </div>
    </div>
</div>